.apartmentInfoContainer {
  /* height: 450px; */
  margin: 0;
  padding-top: 50px;
  /* margin-bottom: 20px; */
}
.flippyHover {
  transition: all 0.5s;
}
.flippyHover:hover {
  transform: translateY(-18px);
}
.apartmentInfoContainer img {
  height: 250px;
}
.flippyFontSide {
  padding: 0;
	height:100%;
  background-color: white;
	box-sizing: border-box;
}
.flippyBackSide{
	height:100%;
	background-color: white;
	box-sizing: border-box;
}
.apartmentBtn {
  text-decoration: none;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}
.apartmentBtn a {
  text-decoration: none;
  color: white;
}
.apartmentCartHeader {
  padding: 13px;
	background-color: white;
}
.apartmentCartHeader img {
  height: 15px;
  width: 17px; 
  padding-right: 5px;
}
.apartmentCartHeader h4,
h6 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.apartmentCartHeader p {
  color: dimgray;
}
.apartmentCartFooterBg1 {
  background: #1b2835;
  color: white;
	height:100%;
	box-sizing: border-box;
	padding:13px;
}
.apartmentCartFooterBg1 img {
  padding-right: 5px;
  height: 15px;
  width: 15px;
}
.apartmentCartFooterBg2 {
  background: #0872dd;
  color: white;
	height:100%;
	box-sizing: border-box;
	padding:13px;
}
